<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.berkeley.SouthsideSeniors.HeightTracker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:name="edu.berkeley.SouthsideSeniors.HeightTracker.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.berkeley.SouthsideSeniors.HeightTracker.MainMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.berkeley.SouthsideSeniors.HeightTracker.Wall"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="edu.berkeley.SouthsideSeniors.HeightTracker.Measure"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="edu.berkeley.SouthsideSeniors.HeightTracker.Log"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="edu.berkeley.SouthsideSeniors.HeightTracker.Compare"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="edu.berkeley.SouthsideSeniors.HeightTracker.SettingsActivity"
            android:noHistory="true" >
        </activity>
        <activity android:name="edu.berkeley.SouthsideSeniors.HeightTracker.ViewUsers" >
        </activity>
        <activity
            android:name="edu.berkeley.SouthsideSeniors.HeightTracker.EditUsers"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="edu.berkeley.SouthsideSeniors.HeightTracker.Results"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="edu.berkeley.SouthsideSeniors.HeightTracker.Tutorial"
            android:label="@string/title_activity_tutorial" >
        </activity>
    </application>

</manifest>
